@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  display: flex;
/* background-color: black; */
  background-position: center;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

$primary-color: #4a8cca;
$text-dark: #0d123b;
$text-gray: #666D92;
$background-f7: #f7f7f7;

.orders,
.dashboard,
.coupons,
.category{
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 3px 2px #0003;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 600;
}

.error {
  width: fit-content;
  margin-top: 5px;
  margin-left: auto;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  color: #FC5C63;
}
