.sidebar {
  width: 270px;
  min-height: 100%;
  display: flex;
  flex-shrink: 0;
  background-color: #ffffff;
  flex-direction: column;
  box-shadow: 1px 0 3px #0003;
  @media only screen and (max-width: 767px) {
    width: 220px;
    // padding: 0;
  }
  .sidebar__navigation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 50px 0;
    overflow-y: auto;

    @media only screen and (min-width: 1023px) {
      padding: 20px 0;
    }
    .sidebar__navigation_navlinks {
        font-family: "Lato", sans-serif;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5;
        width: calc(100% - 30px);
        outline: 0;
        color: #161f6a;
        display: flex;
        align-items: center;
        padding: 1rem 3.5rem 1rem 2rem;
        text-decoration: none;
        transition: 0.15s ease-in-out;
            
        @media only screen and (max-width: 767px) {
            width: 100%;
            padding: 1rem 2rem;
        }
        
        &:hover {
            // color: #00c58d;
            color: #55a1e7;
            background-color: #f7f7f7;
            border-radius: 50px 0 0 50px;
        }
        span {
            width: 1rem;
            margin-right: 1rem;
            display: flex;
            align-items: center;
        }
    }
    .active{
        // color: #00C58D;
        color: #4a8cca;
        background-color: #f7f7f7;
        border-radius: 50px 0 0 50px;
      }
  }
}
