.form_container {
  background-color: #fff;
  padding: 20px;

  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin: 20px auto;
    @media screen and (max-width: 526px) {
      margin: 10px auto;
      font-size: 1.5rem;
    }
  }
}
